body{
  display: flex;
  flex-direction: column;
  margin: 0;
}
.first-container {
  display: flex;
  justify-content: center;
  height: 28vh;
  background-color: #1F2937;
}
.logo{
  margin-top: 8px;
}

.hero {
  width: 50%;
}

.header {
  display: flex;
  justify-content: space-between; /* key */
  color: white;
  font-weight: bold;
  height: 6vh;
  margin-bottom: 0;
}

.header-links {
  margin-top: 8px;
  display: flex;
  gap: 26px; /* spacing between links */
}

a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.content{
  display: flex;
  justify-content: space-between;
  margin: 0;
  
}
.content-text p{
  margin: 0;
 
}
.content-text{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 40%;
  color: white;
  margin-bottom: 0;
}
.awesome{
  color: white;
  font-size: 38px;
}
.btn{
  background-color: hwb(221 22% 5%);
  width:20%;
  height:20%;
  color: white;
  border: none;
  text-align: center;
  border-radius: 8px;
}
.btn:hover{
  background-color: hsl(221, 88%, 49%);
  cursor: pointer;
}

