body{
  display: flex;
  flex-direction: column;
  margin: 0;
}
.first-container {
  display: flex;
  justify-content: center;
  max-height: 28vh;
  background-color: #1F2937;
}
.logo{
  margin-top: 8px;
}

.hero {
  width: 50%;
}
.img{
  border-radius: 0;
}

.header {
  display: flex;
  justify-content: space-between; /* key */
  color: white;
  font-weight: bold;
  height: 6vh;
  margin-bottom: 0;
}

.header-links {
  margin-top: 8px;
  display: flex;
  gap: 26px; /* spacing between links */
}

a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.content{
  display: flex;
  justify-content: space-between;
  margin: 0;
  
}
.content-text p{
  margin: 0;
 
}
.content-text{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 40%;
  color: white;
  margin-bottom: 0;
}
.awesome{
  color: white;
  font-size: 28px;
}
.subtext{
  font-size: 12px;
}
.btn{
  background-color: hwb(221 22% 5%);
  width:25%;
  height:15%;
  color: white;
  border: none;
  text-align: center;
  border-radius: 8px;
}
.btn:hover{
  background-color: hsl(221, 88%, 49%);
  cursor: pointer;
}

.second-container{
  height: 38vh;
}
.info{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}
.info p{
  margin-top: 6px;
  margin-bottom: 26px;
}
.boxes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  
}
.boxes > div {
  width: 100px;          /* 👈 same as image width */
  text-align: center;    /* optional, looks nicer */
}
img{
  border-radius: 8px;
}

.third-container{
  height: 38vh;
  background-color: lightgray;
  display: flex;

}
.box-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin:  auto;
}
.text{
  display: flex;
  justify-content: center;
  font-size: 22px;
}
.quote{
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
.thor{
  font-weight: bold;
  font-size: 20px;
}
.action p{
  margin: 0;
}
.call{
  font-weight: bold;
  font-size: 18px;
}
.action{
  color: white;
}

.fourth-container{
  height: 28vh;
  display: flex;
  justify-content: center;

}
.call-to-container{
  background-color: #3b98e3;
  height: 50%;
  width: 80%;
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;

}
.sign-up {
  padding: 8px 36px;
  height: auto;
  width: auto;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
}
.footer{
  height: 10vh;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright{
  color: white;
}

